body {
  background-color: rgb(163, 163, 163);
}

.header {
  background-color: rgb(246, 245, 245);
  color: rgb(225, 105, 0);
  text-align: center;
  font-size: 42px;
  font-family: "Garamond", serif;
}

.list.index {
  background-color: rgb(246, 245, 245);
  text-align: center;
  font-size: 32px;
  font-family: "Tahoma", sans-serif;
}

img.recipe {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  background-color: rgb(246, 245, 245);
  color: rgb(225, 105, 0);
  font-size: 24px;
  font-family: "Tahoma", sans-serif;
}

.text {
  background-color: rgb(246, 245, 245);
  font-size: 18px;
  font-family: "Verdana", sans-serif;
}